*
{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #D9D9D9;
}

h1
{
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: center;
    margin: 3.75rem auto;
}

form
{
    position: relative;
    max-width: 103.125rem;
    max-height: 71.875rem;
    height: 71.875rem;
    width: 103.125rem;
    min-width: fit-content;
    min-height: fit-content;

    border: 2px solid #1f1f1f;
    border-radius: 20px;

    background-color: white;

    padding: 60px
}

.flex-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.info_label
{
    display: inline-block;
    font-size: 2.25rem;
    width: 22.812rem;
    position: relative;
    
}

#firstName
{
    max-width: 56.25rem;
    width: 56.25rem;
    height: 4.5rem;
}

input[type='text'], input[type='number'], textarea
{
    padding: 0 1.25rem;
    background-color: #D9D9D9;
    border: 1px solid #1f1f1f;
    border-radius: 15px;

    font-size: 2.25rem;
    line-height: 4.5rem;
    letter-spacing: calc(-1em / 10);

}

.info_input__age
{
    width: 31.25rem;
    height: 4.5rem;
}

input[type='radio'] + label
{
    cursor: pointer;
}

input[type='radio']
{
    position: relative;
    width: 30px;
    height: 30px;
}

.form__item
{
    margin-bottom: 3.125rem;
}

input[type='radio']::before
{
    content: '';
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border: 1px solid #1f1f1f;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

input[type='radio']:invalid::before
{
    border-color: red;
}

input[type='radio']:checked::after
{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #1f1f1f;
    border-radius: 7.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info_label__radio
{
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin-left: 1em;
    margin-right: 3em;
}

.sex_input_flex_container
{
    display: inline-flex;
    align-items: center;

}

input[type='file']
{
    display: none;
}

.info_label__file
{
    position: relative;
    margin-left: 45px;
    font-size: 1.75rem;
    line-height: 1.875rem;
    cursor: pointer;
}

.info_label__file::before
{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('assets/image\ 1.svg');
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

form textarea
{
    min-width: 56.25rem;
    max-width: 64.375rem;
    max-height: 12.5rem;
    height: 12.5rem;
    min-height: 4.6rem;
}

.info_label__about
{
    vertical-align: top;
}

.info_label__accept
{
    font-size: 1.75rem;
    line-height: 2rem;
    width: 22.812rem;
    display: block;
    position: relative;
}

.info_label__accept:hover
{
    transition: 0.4s
}

.info_label__accept:hover::before
{
    content: attr(data-clue);
    position: absolute;
    font-size: 0.8rem;
    line-height: 1rem;
    width: 80%;
    height: fit-content;
    background-color: antiquewhite;
    bottom: -50%;
    left: 20%;
    transform: translateX(-20%);
}

.sex_input_flex_container input[type='radio']:checked + label
{
    font-weight: 700;
}

.form__item_checkbox
{
    display: flex;
    align-items: center;
    margin-bottom: 9.875rem;
}


form input[type='submit'], form input[type='reset']
{
    display: block;
    width: 15.625rem;
    height: 5rem;
    color: black;
    background-color: #D9D9D9;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 5rem;
    border: none;
    border-radius: 0.625rem;
}

.form_buttons
{
    display: flex;
    justify-content: space-between;
}

form input:invalid
{
    border-color: red;
}

input:focus
{
    outline: none;
    border-width: 2px;
    border-color: #616161;
}

form input[type='radio']:hover + label
{
    font-weight: 500;
}

input[type=radio]:hover::after
{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

input[type=radio]:hover:checked::after
{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #1f1f1f;
    border-radius: 7.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.buttons:hover
{
    background-color: rgba(200, 200, 200, 1);
    transition: 0.3s;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttons:active
{
    background-color: rgb(180, 180, 180);
    box-shadow: none;
}

.info_label__file:hover
{
    font-weight: 500;
}

input[type=checkbox]
{
    position: relative;
}

input[type=checkbox]::before
{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    background-color: #D9D9D9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

input[type=checkbox]:hover::before
{
    background-color: rgba(100, 100, 100, 1);
    transition: 0.3s;
}

input[type=checkbox]:hover:checked::before
{
    background-color: #D9D9D9;
    transition: 0.3s;
}

input[type=checkbox]:checked::after
{
    content: '';
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url('assets/check.png');
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
