*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main
{
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

main
{
    margin:auto;

    max-width: 1280px;
    
    min-width: 640px;
    padding: 20px
}

header
{
    position: sticky;
    top: 0;

    padding: 20px;
    background-color: #0C0C0E;
    width: 100% - 40px;

    display: flex;
    justify-content: space-between;
}

header figure img
{
    height: 45px;
    border-radius: 10px;
    border: none;
}


header figure
{
    height: 45px;
}

header nav
{
    min-width: 350px;
    max-width: 450px;

    margin-right: 60px;
}

header ul
{
    display: flex;
    justify-content: space-between;
}

header ul li
{
    list-style-type: none;

    line-height: 45px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

header ul li:hover
{
    color: #BB945F;
}

.menu-container
{
    display: flex;
}

.link-style
{
    text-decoration: none;
    color: white;
}

.link-style:hover
{
    transition: 0.25s;
    color: #BB945F;
}

.header-buttons-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 5.5%;
    min-width: 100px;
}

.header-buttons-container button
{
    width: 50px;
    height: 35px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    border-radius: 10px;
    border: none;
}

.theme-button
{
    background-image: url("imgs/theme.png");
}

.header-buttons-container button:hover
{
    background-color: #BB945F;
}

.header-buttons-container button:active
{
    background-color: white;
}

.header-buttons-container button:nth-child(2)
{
    width: 35px;
}

h1
{
    position: relative;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;

    margin-bottom: 60px;

    text-align: center;
}

h1::after
{
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

main p
{
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

#About p
{
    text-align: center;
}

.about-image-container
{
    display: flex;

    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 40px;
}

.about-image-container figure
{
    width: 31%;
}

.about-image-container figure img
{
    width: 100%;
}

.book-container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    text-align: center;
}

.book
{
    /* background-color: rgba(187, 148, 95, 0.13); */
    width: 280px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;

    margin-bottom: 40px;
}

.book figure
{
    width: 100%;
    margin-bottom: 25px;
}

.book figure img
{
    width: 100%;
    border-radius: 10px;
}

.book h2
{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
}

.black-link
{
    color: black;
}

.contacts-container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact-info h2
{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 20px;
}

.contact-p
{
    margin: 40px 0;
}

.contact-p p
{
    margin-bottom: 20px;
}

.bold
{
    font-weight: 700;
}

.map iframe
{
    height: 100%;
    width: 500px;
}

#About-div, #Contacts-div, #Catalog-div
{
    transform: translateY(-85px);
}

footer
{
    text-align: center;
    padding: 20px;
    width: 100% - 40px;
    background-color: #0C0C0E;
}

footer a, p
{
    color: white;
    line-height: 45px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}